= simple_form_for Effective::StyleGuide.new(), :url => '/' do |f|
  = f.input :title, :hint => 'please enter a title (this is a standard text field)'
  = f.input :email, :hint => 'please enter an email address (this is an email field)'
  = f.input :password, :hint => 'please enter a password (this is a password field)'
  = f.input :number, :hint => 'please enter a number (this is a number field)'
  = f.input :range, :as => :range, :hint => 'please enter a number range (this is a range field)'
  = f.input :category, :as => :select, :collection => 10.times.map { |x| "Category #{x}"}, :hint => 'please select a category (this is a select field)'
  = f.input :drink, :as => :check_boxes, :wrapper => :vertical_inline_radio_and_checkboxes, :collection => ['Water', 'Tea', 'Coffee', 'Soda'], :hint => 'please select one or more drinks (this is a check_boxes :wrapper => :vertical_inline_radio_and_checkboxes field)'
  = f.input :food, :as => :radio_buttons, :wrapper => :vertical_inline_radio_and_checkboxes, :collection => ['Pasta', 'Rice', 'Potato', 'Couscous'], :hint => 'please select one food (this is a radio_buttons :wrapper => :vertical_inline_radio_and_checkboxes field)'
  = f.input :content, :hint => 'please enter a whole bunch of content (this is a textarea)'
  = f.input :archived, :hint => 'please select true or false (this is a boolean field)'
  = f.input :drink, :as => :check_boxes, :collection => ['Water', 'Tea', 'Coffee', 'Soda'], :hint => 'please select one or more drinks (this is a check_boxes field)'
  = f.input :food, :as => :radio_buttons, :collection => ['Pasta', 'Rice', 'Potato', 'Couscous'], :hint => 'please select one food (this is a radio_buttons field)'
  = f.button :submit

%hr
.inline-example Form Vertical Invalid State

= simple_form_for Effective::StyleGuide.new().tap { |s| s.valid? }, :url => '/' do |f|
  = f.input :title, :hint => 'please enter a title (this is a standard text field)'
  = f.input :email, :hint => 'please enter an email address (this is an email field)'
  = f.input :password, :hint => 'please enter a password (this is a password field)'
  = f.input :number, :hint => 'please enter a number (this is a number field)'
  = f.input :range, :as => :range, :hint => 'please enter a number range (this is a range field)'
  = f.input :category, :as => :select, :collection => 10.times.map { |x| "Category #{x}"}, :hint => 'please select a category (this is a select field)'
  = f.input :drink, :as => :check_boxes, :wrapper => :vertical_inline_radio_and_checkboxes, :collection => ['Water', 'Tea', 'Coffee', 'Soda'], :hint => 'please select one or more drinks (this is a check_boxes :wrapper => :vertical_inline_radio_and_checkboxes field)'
  = f.input :food, :as => :radio_buttons, :wrapper => :vertical_inline_radio_and_checkboxes, :collection => ['Pasta', 'Rice', 'Potato', 'Couscous'], :hint => 'please select one food (this is a radio_buttons :wrapper => :vertical_inline_radio_and_checkboxes field)'
  = f.input :content, :hint => 'please enter a whole bunch of content (this is a textarea)'
  = f.input :archived, :hint => 'please select true or false (this is a boolean field)'
  = f.input :drink, :as => :check_boxes, :collection => ['Water', 'Tea', 'Coffee', 'Soda'], :hint => 'please select one or more drinks (this is a check_boxes field)'
  = f.input :food, :as => :radio_buttons, :collection => ['Pasta', 'Rice', 'Potato', 'Couscous'], :hint => 'please select one food (this is a radio_buttons field)'
  = f.button :submit
