= simple_form_for Effective::StyleGuide.new(), :html => {:class => 'form-inline'}, :wrapper => :inline_form, :url => '/' do |f|
  = f.input :title, :placeholder => 'Enter title'
  = f.input :email, :placeholder => 'Enter email'
  - if defined?(EffectiveFormInputs)
    = f.input :category,
      :as => :effective_select,
      :collection => EffectiveStyleGuide.colors,
      :placeholder => 'Select color'
  - else
    = f.input :category,
      :as => :select,
      :collection => EffectiveStyleGuide.colors,
      :placeholder => 'Select color'
  = f.input :archived
  = f.button :submit

%hr
.inline-example Inline Form Invalid State

= simple_form_for Effective::StyleGuide.new().tap { |s| s.valid? }, :html => {:class => 'form-inline'}, :wrapper => :inline_form, :url => '/' do |f|
  = f.input :title, :placeholder => 'Enter title'
  = f.input :email, :placeholder => 'Enter email'
  - if defined?(EffectiveFormInputs)
    = f.input :category,
      :as => :effective_select,
      :collection => EffectiveStyleGuide.colors,
      :placeholder => 'Select color'
  - else
    = f.input :category,
      :as => :select,
      :collection => EffectiveStyleGuide.colors,
      :placeholder => 'Select color'
  = f.input :archived
  = f.button :submit



